---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Staff from '../components/Staff.astro';
import Colton from '../images/colton-sturgeon.jpg';
import Giorgio from '../images/giorgio.jpg';
import Hessam from '../images/hessam-nabavi.jpg';
---

<Layout title="WebCosmos">
	<header>
		<ul class="header-nav">
			<li class="nav-item">
				<div class="logo">
					<a href="#">O</a>
				</div>
			</li>
			<li class="nav-item"><a href="#">Home</a></li>
			<li class="nav-item"><a href="#">Services</a></li>
			<li class="nav-item"><a href="#">Contact</a></li>
		</ul>
	</header>
	<main>
		<section class="hero">
			<h1>Launching your digital dreams into reality.</h1>
		</section>
		<section class="about">
			<div class="container">
				<img src="" alt="">
				<div class="text-container">
					<h2>Unleash your brand’s true potential with our services</h2>
					<p>Our mission can’t be achieved without empowering your journey. Let’s build this spaceship together and command your industry one byte at a time.</p>
				</div>
				<div class="text-container">
					<h2>Creative Solutions Tailored to your unique Needs</h2>
					<p>We're not just a web agency, we're your technical co-founders. Expect the unexpected because we’re ready to execute with finesse.</p>
				</div>
				<img src="" alt="">
			</div>
		</section>
		<section class="cta">
			<h2>Ready to launch? So are we.</h2>
			<div class="button-container">
				<a href="#" class="btn">Contact Us</a>
				<a href="#" class="btn">Our Portfolio</a>
			</div>
		</section>
		<section class="price">
			<Card name="Saturn" price="$19.99/mo" desc={["pages", "setup", "analytics", "support"]} />
			<Card name="Jupiter" price="$29.99/mo" desc={["Unlimited Pages", "Premium SEO", "Pro Analytics", "Priority Support"]}/>
		</section>
		<section>
			<h2>A journey beyond the stars.</h2>
		</section>
		<section class="staffs">
			<Staff profile={Colton} name='Colton' title='dev'/>
		</section>
	</main>
	<footer>
		<ul class="social-links">
			<li>
				<a href="#" class="social-link x">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
				</a>
			</li>
			<li>
				<a href="#" class="social-link ig">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
				</a>
			</li>
			<li>
				<a href="#" class="social-link dis">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M524.5 69.8a1.5 1.5 0 0 0 -.8-.7A485.1 485.1 0 0 0 404.1 32a1.8 1.8 0 0 0 -1.9 .9 337.5 337.5 0 0 0 -14.9 30.6 447.8 447.8 0 0 0 -134.4 0 309.5 309.5 0 0 0 -15.1-30.6 1.9 1.9 0 0 0 -1.9-.9A483.7 483.7 0 0 0 116.1 69.1a1.7 1.7 0 0 0 -.8 .7C39.1 183.7 18.2 294.7 28.4 404.4a2 2 0 0 0 .8 1.4A487.7 487.7 0 0 0 176 479.9a1.9 1.9 0 0 0 2.1-.7A348.2 348.2 0 0 0 208.1 430.4a1.9 1.9 0 0 0 -1-2.6 321.2 321.2 0 0 1 -45.9-21.9 1.9 1.9 0 0 1 -.2-3.1c3.1-2.3 6.2-4.7 9.1-7.1a1.8 1.8 0 0 1 1.9-.3c96.2 43.9 200.4 43.9 295.5 0a1.8 1.8 0 0 1 1.9 .2c2.9 2.4 6 4.9 9.1 7.2a1.9 1.9 0 0 1 -.2 3.1 301.4 301.4 0 0 1 -45.9 21.8 1.9 1.9 0 0 0 -1 2.6 391.1 391.1 0 0 0 30 48.8 1.9 1.9 0 0 0 2.1 .7A486 486 0 0 0 610.7 405.7a1.9 1.9 0 0 0 .8-1.4C623.7 277.6 590.9 167.5 524.5 69.8zM222.5 337.6c-29 0-52.8-26.6-52.8-59.2S193.1 219.1 222.5 219.1c29.7 0 53.3 26.8 52.8 59.2C275.3 311 251.9 337.6 222.5 337.6zm195.4 0c-29 0-52.8-26.6-52.8-59.2S388.4 219.1 417.9 219.1c29.7 0 53.3 26.8 52.8 59.2C470.7 311 447.5 337.6 417.9 337.6z"/></svg>
				</a>
			</li>
		</ul>
		<span> &#169; 2024 WebCosmos</span>
	</footer>
</Layout>

<style>
	header {
		background-color: var(--clr-black);
	}

	.hero, .about {
		background-color: var(--clr-black);
	}

	.about h2, p {
		color: white;
	}

	.cta, .price, .staffs, footer {
		background-color: var(--clr-ylw);
	}

	:is(.cta, .price, .staffs, footer) {
		color: var(--clr-black);
	}

	.social-link svg {
		width: 25px;
		
	}
</style>
