---
import { Image } from 'astro:assets';
import Colton from '../images/colton-sturgeon.jpg';
import Giorgio from '../images/giorgio.jpg';
import Hessam from '../images/hessam-nabavi.jpg';

interface Props {
  profile: any;
  name: string;
  title: string;
}

const { profile, name, title } = Astro.props;
---

<li class="staff">
  <Image src={profile} alt=`Profile picture of ${name}` class="profile-img" />
  <p class="name">{name}</p>
  <p class="title">{title}</p>
</li>

<style>
  .staff {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .profile-img {
    width: auto;
    height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 100%;
    filter: grayscale(100%);
  }

  .name {
    font-family: 'Dela Gothic One', system-ui;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center;
  }

  .title {
    line-height: 1.5;
    text-align: center;
  }

@media screen and (width < 425px) {
  .staff {
    height: 250px;
  }
}

</style>