---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '@fontsource/dela-gothic-one';
import '@fontsource/libre-baskerville';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Landing page for Webcosmos" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--clr-black: #242423;
		--clr-gray: #333533;
		--clr-ylw: #F5CB5C;
		--clr-acc-ylw: #F4C544;
	}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	background-color: var(--clr-ylw);
}

img {
	display: block;
}

h1,h2,h3 {
  font-family: 'Dela Gothic One', system-ui;
}

h1 {
	color: #E8EDDF;
	font-size: 5rem;
	line-height: 1.1em;
}

p, a, span, li {
	font-family: 'Libre Baskerville', serif;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.btn {
	/* max-height: 40px; */
	padding: 15px;
	background-color: black;
	border-radius: 8px;
	color: var(--clr-ylw);
	line-height: 1.2;
	text-align: center;
	display: inline-block;
}

.btn.primary {
	background-color: var(--clr-gray);
	color: white;
}

@media screen and (max-width:400px) {
	h1 {
		font-size: 3rem;
	}
}
</style>
